<%- include('./partials/header.ejs') %>

<main class="page">
  <div class="main">
    <h1 class="title">About EUPH</h1>
    <p>
      Euph is not just a clothing brand; it is an emotion that resonates with your day-to-day life situations. In a world that moves at a fast pace, Euph brings you a refreshing wave of authenticity, woven into every stitch and fabric. Join us on this journey where you immerse yourself in a lifestyle that values comfort and the unhurried pace of life. Where the ordinary transforms into exquisite memories, rendering everyday moments unforgettable.
    </p>
  </div>
  <div class="inv">
    <h2>
      Our Mission
    </h2>
    <p>
      Euph's mission is a reflection of our core brand values. Our commitment to realness ensures that every Euph piece is a genuine expression of who we are. We want you to feel comfortable in your skin and your clothing, enabling you to be your true, confident self. Our aim is to empower you to be intentional about your choices and proudly showcase your individuality. We aim is to sprinkle laughter and delight into your core memories, turning mundane days into cherished ones. We create pieces that are strong and durable, meant to be worn for years. Our mission is to promote a sustainable, lasting approach to both fashion and life. 
    </p>
  </div>
  <div class="inv">
    <h2>
      Our Story
    </h2>
    <p>
      Euph's story is one of shared values and a desire to offer more than just clothing. Founded by a group who believed in authenticity, comfort, intentionality, joy, and slow living, we set out to create a brand that resonates with people's lives.
      <br><br>
      Our journey is an ongoing commitment to these core values, woven into every aspect of our brand. We invite you to join us, wear Euph, and be a part of our story—a story of authentic living, comfort, intentionality, joy, and the art of slow, meaningful living.
    </p>
  </div>
  <div class="main">
    <h2>
      Our Story
    </h2>
    <p>
      Euph's story is one of shared values and a desire to offer more than just clothing. Founded by a group who believed in authenticity, comfort, intentionality, joy, and slow living, we set out to create a brand that resonates with people's lives.
      <br><br>
      Our journey is an ongoing commitment to these core values, woven into every aspect of our brand. We invite you to join us, wear Euph, and be a part of our story—a story of authentic living, comfort, intentionality, joy, and the art of slow, meaningful living.
    </p>
  </div>
</main>

<%- include('./partials/footer.ejs') %>