<%- include('./partials/header.ejs') %>

<main class="page">
  <h1 class="title">
    Order Successful
  </h1>
  <p>
    Your order has been placed successfully.<br>
    Your order number is : <span style="background-color: #FF6000; padding: 0px 5px; color: black;"><%= orderNumber %></span><br>
    DM us on instagram <a href="https://instagram.com/euph.live">@euph.live</a> with your order number to confirm your order.
  </p>
</main>

<%- include('./partials/footer.ejs') %>